@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  unicode-range: U+AC00-D7A3;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  text-decoration: none;
  color: #000000;
}
ul,
li {
  list-style: none;
}
html {
  font-size: 16px;
}
body {
  font-size: var(--font-size-base);
  color: var(--primary-color);
}
html,
body :root {
  font-family: "Pretendard-Regular", "Spoqa Han Sans Neo", sans-serif;
}
